
:root {
	--theme-pm: #E92222;
	--theme-pm-dark: #d12121;
	--theme-pm-dark2: #cf0909;
	--theme-pm-x-dark: #A71919;	
	--theme-pm-xx-dark: #680C0C;
	--theme-pm-x-light: #febfbf;
	--white-bg-dark: #f0f0f0;	
	--white-bg-less-dark: #f5f5f5;
	--white-bg: #fcfcfc;
	--text-dark: #9f1b1b;
	--text-x-dark: #680c0c;
	height: 100%;
}

body {
	height: 100%;	  
}