
/*global overrides*/

/*bootstrap overrides */
.container {
	display: flow-root;
}

@media (min-width: 1400px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    	max-width: 1320px;
	}
	.container-original {
		max-width: 1140px;
	}
}

a {
	color: var(--theme-pm);
	transition: color .3s ease;
}

a:hover {
	color: var(--theme-pm-dark);
}

.btn:focus, .btn:hover { 
    box-shadow: none; 
    color: white;
}


.dropdown-toggle::after {
	vertical-align: middle;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;  
}

.form-control:focus, .custom-select:focus {
	box-shadow: 0 0 0 0.2rem var(--theme-pm-dark);
	border-color: var(--theme-pm-dark);
}

.navbar-dark .navbar-toggler {
	border: 0;
}

.m-auto2 {
	margin: auto;
}

.ml-2 {
	margin-left: 7.5px !important;
}

.mt-3 {
	margin-top: 15px !important;
}
@media (min-width: 768px) {
	.mt-md-0 {
		margin-top: 0 !important;
	}
}
/*bootstrap overrides finishes*/





/*Theme global styles*/ 
.bg-pm {
	background-color: var(--theme-pm);
}

.bg-pm-dark {
	background-color: var(--theme-pm-dark);
}

.btn-pm {
	background-color: var(--theme-pm);
	display: block;
	transition: background-color .3s ease;
	color: #fff;
	height: 38px;
	padding: 0 60px;
	font-size: 0.875rem; 
}

.btn-pm:focus, .btn-pm:hover {
	background-color: var(--theme-pm-dark);
}

.text-pm {
	color: var(--theme-pm);
}
/*theme style finishes*/




/*theme ui elements starts*/
.card {
	border: 5px solid var(--theme-pm-dark2);
	background-color: var(--theme-pm-dark2);
	border-radius: 5px;
	transition: border-color .3s ease, background-color .3s ease;
}
.card:hover {
	background-color: var(--white-bg-dark);
	border-color: var(--white-bg-dark);
}
.post-pic {
			
	object-fit: cover;
	object-position: center top;
	border-radius: 5px;
}
.card-body {
	& {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: rgba(0,0,0,0.85);
		height: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 15px;
	}

	a {
		color: white;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;				
	}
}

.panel {
	& {
		background-color: var(--white-bg);
	    border-radius: 5px;
	    padding-bottom: 25px;
	    display: flex;
	    flex-direction: column;
	    margin-top: 45px;
	}
	.panel-title {
		margin-top: 22.5px;
	    margin-bottom: 17.5px;
	    color: var(--theme-pm);
	}
	.panel-content {
		padding: 0 15px;
	}
	.list {		
	    overflow-y: auto;
	    max-height: 700px; 
	    padding-right: 10px;	 
	    @media not all and (hover: none) { /*non touch devices*/
	    	& {
	    		scrollbar-color: #ccc #f1f1f1;
  				scrollbar-width: thin;    
	    	}	
	    }
	    
	}
	ul:not(.list-unstyled) {
		padding-left: 18px;
	}
	.publish-date {
		color: #999;
	    font-size: 0.875rem;
	    padding-left: 45px;
	    margin-top: auto;
	}
	@media not all and (hover: none) {		
		.list::-webkit-scrollbar {
		  width: 10px;
		  
		}

		/* Track */
		.list::-webkit-scrollbar-track {
		  background: #f1f1f1;
		}

		/* Handle */
		.list::-webkit-scrollbar-thumb {
		  background: #ccc;
		}

		/* Handle on hover */
		.list::-webkit-scrollbar-thumb:hover {
		  background: #999;
		}
	}
}

@media (max-width: 991.8px) {
	.panel {
		&{
			margin-top: 30px;
		}
	}
}
 
/*ui elements finishes*/








/*Selectric plugin css override starts*/
.selectric {
	background-color: rgba(44,44,44,0.3);
	border-radius: 50px;
	text-align: center;
	transition: background-color .3s ease; 
}

.selectric-focus .selectric, 
.selectric-hover .selectric {
	background-color: var(--theme-pm-x-dark);
}

.selectric-items {
	background-color: var(--theme-pm-dark);
	border: 1px solid var(--theme-pm-x-dark);
	transition: transform .3s ease;
}

.selectric-open .selectric-items {
	transform: translateY(10px);
}

.selectric-items li.selected {
	background-color: rgba(0,0,0,0.05);
}

.selectric-items li:hover {
	background-color: rgba(0,0,0,0.05);
}

.selectric .label {
	display: inline;
	margin: 0;
}

.selectric .label:after {
	content: url("../icons/dropdown.svg");
	margin: 0px 0 0 10px;
	position: relative;
	top: -1px;
}

.selectric .label,  
.selectric-items ul, 
.selectric-items li {
	font-size: 0.875rem;
}

.selectric b.button {	
	display: none;
}
/*Selectric plugin css override finishes*/


/*global overrides finishes*/
