

.hero {
	& {
		background-color: var(--theme-pm);
	}
	.navbar {
		padding: 30px 0 0px 0;
		font-size: 1.125rem;
	}
	.navbar-brand {
		width: 150px;
		padding: 0;
	}
	.logo {
		transform: scale(-1, 1);
	}
	.nav-item {		
		& {
			margin-right: 29px;
		}		
		.nav-link {			
			color: rgba(255, 255, 255, 0.85);
			padding: 4px 8px;
		}
		.nav-link:hover, .nav-link:focus {
			color: rgba(255, 255, 255, 1);
		}
		@media not all and (hover: none) {
			.dropdown-toggle::after {
				display: none;
			}
		}		
	}
	.search-form {		
		& {
			margin-left: 16px;
			width: 280px;
		}
		.form-control {
			padding: 6px 40px 6px 12px;
			min-width: 280px;
			border-radius: 5px;
			font-size: 0.875rem;
		}
		.form-control::placeholder {
			color: #9d9d9d;
		}
	}
	.search-icon {
		position: absolute;
		right: 8px;
		border: 0;
		padding: 0
	}	
	.custom-container {
		max-width: 1100px;
	}
	.main-title {
		margin-bottom: 0;
	}
	.filters {
		& {
			margin-top: 30px;
		}
		.go {
			background-color: rgba(44,44,44,0.3);
			border-radius: 50px;
			border: 0;
			height: 38px;
		}
		.go:focus,
		.go:hover {
			box-shadow: none;
			background-color: var(--theme-pm-x-dark);
		}
		.arrow-right {
			width: 15px;
			height: auto;
		}
	}
	.slider {
		& {
			margin-top: 30px;			
			margin-bottom: 60px;
		}
		.slick {
			margin: 0 -7.5px;
		}
		.slide {
			width: 217px;
			float: left;
		}
		.post-pic {
			height: 256px;	
		}
		.slide:not(.slick-slide):nth-child(n+6) {
			display: none;
		}

		.slick-slide {
			opacity: .3;
			transition: opacity .3s ease-in-out;
		}
		.slick-slide .card {
			margin: 0 7.5px;
		}
		.slick-current {
			opacity: 1;
			transition: opacity .3s ease-in-out;
		}
		.slick-active{
			opacity: 1;
			transition: opacity .3s ease-in-out;
		}
		
		.slick-arrow {
			width: 45px;
			height: 45px;
			border-radius: 5px;
			background-color: var(--white-bg-dark);
			transition: background-color .3s ease;
			display: flex;
			justify-content: center;
			align-items: center;
		}		
		.slick-arrow:before {
			content: url("../icons/next.svg");
			line-height: normal;
			font-size: 0;
			font-family: unset;
			margin-left: 2px;
			transition: opacity .3s ease;
		}
		.slick-next {
			right: -68px;
		}
		.slick-prev {
			left: -68px;
		}
		.slick-prev:before {
			display: block;
			transform: scaleX(-1);
			margin-left: -1px;
		}
		.slick-arrow:not(.slick-disabled):hover,
		.slick-arrow:not(.slick-disabled):focus {
			background-color: white; 
		}
	}	
}

.searchpage {		
	input.title {
		background-color: rgba(44,44,44,0.3);
		border: none;
		color: #fff;	
		transition: background-color .3s ease;
	}
	input.title:focus {
		box-shadow: none;
		background-color: var(--theme-pm-x-dark);
	} 
	input.title::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: #ff8888;
	  opacity: 1; /* Firefox */
	}

	input.title:-ms-input-placeholder { /* Internet Explorer 10-11 */
	  color: #ff8888;
	}

	input.title::-ms-input-placeholder { /* Microsoft Edge */
	  color: #ff8888;
	}
	.selectric {
		border-radius: 4px;
	}	
	.filters {
		.go {
			border-radius: 4px; 
		}
		.advance {
			background-color: rgba(44,44,44,0.4);
			border: none;
			color: #fff;
		}
		.advance-prepend {
			margin-right: 0;
		}
		.advance-copy {
			font-size: 0.875rem;
		}
	}
}

@media (max-width: 1399.8px) {
	.hero {
		.slider{
			.slide {
				width: 233.75px;

			}
			.slide:not(.slick-slide):nth-child(n+5) {
				display: none;
			}
			.post-pic {
				height: 279px;
			}
		}
	}
}

@media (max-width: 1199.8px) {
	.hero {
		.main-title {
			font-size: 1.5rem;
		}
		.slider{
			.slide {
				width: 261.5px; 

			}
			.slide:not(.slick-slide):nth-child(n+4) {
				display: none;
			}
			.post-pic {
				height: 316px;
			}
		}
	}
}


@media (max-width: 991.8px) {
	.hero {
		.main-title {
			margin-bottom: 22.5px; 
		}
		.navbar-collapse {
			margin-top: 15px;
		}
		.search-form {
			margin-left: 0;
			margin-top: 7.5px;
			position: relative;
			display: inline-flex;  		
		}
		.slider {
			& {
				 margin-top: 22.5px;
				 margin-bottom: 45px;
        /*Using rems to match bootstrap marin on h1*/
      }
      .slide {
      	width: 292.5px;

      }
      .slide:not(.slick-slide):nth-child(n+3) {
      	display: none;
      }
      .post-pic {
      	height: 357px;
      }
    }
  }
}


@media (max-width: 767.8px) {
	.hero {
		.slider{
			& {
				width: 460px;
				margin-right: auto;
				margin-left: auto;
			}
			.slide {
				width: 222.5px;

			}      
			.post-pic {
				height: 264px; 
			}
			.slick-arrow {
				width: 35px;
				height: 35px;
				right: -43px;
				border: 3px solid var(--theme-pm-x-dark); 
			}
			.slick-prev {
				left: -43px;
			}
			.slick-arrow:before {
				content: url("../icons/next_mobile.svg");
			}
		}
	}

	.searchpage {
		.filters {
			& {
				margin-bottom: 30px;
			}
			.advance-prepend {
				width: 100%;				
			}
			.advance {
				border-top-right-radius: 4px;
				border-bottom-left-radius: 0;
			}
			input.title {
				border-top-right-radius: 0;
				border-bottom-left-radius: 4px;
				width: 100%;
			}
		}
	}
}


@media (max-width: 575.8px) {
	.hero {
		.search-form {
			& {
				width: 100%;
			}
			.form-control {
				min-width: 0;
			}
		}
		.slider {
			& {
				width: 100%; 
				margin-bottom: 30px;       
			}
			.slide {
				width: calc(100vw - 45px);
			}
			.slide:not(.slick-slide):nth-child(n+2) {
				display: none;
			}
			.post-pic {
				height: calc(133.333333vw - 93.333333px); 
			}
			.slick-arrow {
				right: -7.5px;
			}
			.slick-prev {
				left: -7.5px;
				z-index: 1;
			}
		}
	}
}

@media (smax-width: 359.8px) {
	.hero {
		.slider {
			& {
				width: 280px;
			}
			.slide {
				width: 360px;
			}
			.slide:not(.slick-slide):nth-child(n+5) {
				display: none;
			}
			.post-pic {
				height: 317px;
			}
		}
	}
}