[Unit]
Description=Webhook listener
After=network.target

[Service]
ExecStart=/usr/bin/webhook -hooks /etc/webhook/hooks.json -port 9000 -ip 0.0.0.0
Restart=always
User=root

[Install]
WantedBy=multi-user.target
