/*Designed by Anupam Khosla @copyright 2021*/

@import "partials/_colours.scss";
@import "partials/_global.scss";
@import "partials/_header.scss";


.about {
	& {
		background-color: var(--white-bg-dark);
		padding: 50px 0 60px 0;
		font-weight: 500;
	}
	.logo_double {
		mix-blend-mode: multiply;
	}
	.logo-text {
		color: var(--theme-pm);
		margin-bottom: 16px;
	}
	.cta {
		margin: 26px auto 0 auto;
	}
}

@media (max-width: 992.8px) {
	.about {
		.logo_double {
			max-width: 200px;
		}
	}
}

